*{
    margin: 0;
    padding: 0;
}

.nombrepasteleria {
    /* font-family: 'Montserrat', sans-serif; */
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 4em;
    font-family: 'Aclonica', sans-serif;
    text-shadow: 1px 1px 2px black;
}

.logo {
    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 170px;
    display: flex;
    margin-bottom: 30px;
    /* margin-top: 10px; */
}

div.logo {
    display: flex;
    margin-left: 45%;
}

.menu {
    background-color: #F1e4db;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 20px; 
}

.menu a{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.tituloMain {
    background-color: white;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgb(56, 56, 56);
}

div.image {
    /* width: 60%; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 15px;
  }

article.historia{
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 20px;
}

article.div{
    display: flex;
    justify-content:center;
}